# Build directories
/build/
*/build/
target/
out/

# Dependency directories
/.gradle/
/.idea/
/*.iml

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo

# IDE-specific files
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Environment-specific files
.env
*.env
